---
import PillButton from './PillButton.astro';

interface Props {
  href?: string;
  label?: string;
}

const { href = '/secciones', label = '+ SECCIONES' } = Astro.props;
---

<div class="flex justify-center items-center pt-10 pb-0 md:pt-20 lg:pt-40 bg-brand-gray">
  <PillButton href={href} label={label} variant="primary" ariaLabel="Ver todas las secciones" />
</div>
