---
import { getCollection } from 'astro:content';
import SectionsButtonMenu from './SectionsButtonMenu.svelte';

const rawCats = await getCollection('categories');
const categories = rawCats
  .filter((c) => c.data.slug?.current)
  .map((c) => ({ title: c.data.title, slug: c.data.slug!.current }));
---

<div class="flex justify-center items-start pt-10 pb-16 md:pt-20 md:pb-20 lg:pt-40 lg:pb-24 bg-brand-gray">
  <SectionsButtonMenu {categories} client:idle />
</div>
